/* when we specify 0 we don;t have to specify unit */

/* border-box: essentially what this does is that it will include paddings and borders into the width or the height that we specify for an element.

So for example, if we specify the width of an element to 100 pixels, and then add a padding of 20 pixels on each side, then 100 plus 20 plus 20 would be a total width of 140 pixels,

so to fix this, we use box sizing set to border box. And so in this case, if we specify the width to 100 pixels, it will always be 100 pixels no matter how much the padding, okay.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the font family property is a property that gets inherited. Okay. So all the Child Elements of the body element, will automatically get this font family assigned to them. Most properties don't inherit but most properties related to font inherit */

body {
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#course-image {
  width: 300px;
}

#your-name h2 {
  color: olivedrab;
}
